// buttons used minimally on this project
// but any in use defined here
.mn-project-summary-btt,
.mn-site-footer-btt {

  // reset in first to neutralize us stylesheet defaults
  @include button-reset();
  padding: 1rem;
  background-color: $black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  svg {
    fill: $primary-accent;
    max-width: 100%;
    height: auto;
    width: 40px;

  }

  &:focus {
    outline: none;
    background-color: lighten($black, 5%);

    svg {
      fill: $tertiary-accent;
    }

  }

}