.mn-sw-notify {
	width: 100%;
	min-height: 70px;
	padding: 1rem 4rem;
	background-color: rgba($black, 0.7);
	
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5000;
	text-align: center;
	display: none;
	
	&.is-active {
		display: flex;
	}
	
	p {
		
		@include font-size(14);
		
		text-transform: uppercase;
		color: $primary-accent;
		margin-right: 2rem;
		
		@include breakpoint($bp-l) {
			@include font-size(18);
		}
		
		
	}
	
	button {
		@include button-reset();
		background-color: $primary-accent;
		padding: 0.5rem 3rem;
		text-transform: uppercase;
		@include font-size(15);
		@include std-transitions();
		border: 2px solid transparent;
		
		&:hover {
			background-color: darken($primary-accent, 40%);
			border-color: $black;
			cursor: pointer;
			color : $white;
			@include font-size(14);
		}
	}
	
}