.mn-section-about {
  position: relative;

}

.mn-parralax-about {
  height: 400px;
  overflow: hidden;
  width: 100vw;

  @include breakpoint($bp-xl) {
    height: 550px;
  }

}

.mn-parralax-about {
  .mn-parralax-inner {
    background-image: url("/dist/images/mn-quote-parra-bg.jpg");
    height: 100%;

    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    padding: 3rem 0;

    @include breakpoint($bp-xl) {
      background-attachment: fixed;
      padding: 6rem 0;
    }

  }
}


.mn-about-parralax-text {
  opacity: 0;
  transform: translate3d(300px, 0px, 0px);
  position: relative;
  text-transform: uppercase;
  color: $white;
  max-width: 40%;
  text-align: center;
  @include font-size(28);
  font-weight: $font-weight-medium;

  &:before {
    content: open-quote;
    position: absolute;
    top: 0;
    left: -2rem;
  }
  &:after {
    content: close-quote;
    padding-left: 1rem;
    position: absolute;
    right: -3rem;
  }
}

.mn-section-about-grid {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint($bp-l) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }


}



.mn-section-about-grid {
  border-bottom: 1px solid rgba($white,0.1);
}


.mn-section-about-grid-item-inner {


  padding: 0 0 2rem ;

  @include breakpoint($bp-massive) {
    padding: 6rem;
  }

}


.mn-section-about-hd-lg {


  @include breakpoint($bp-xl) {
    opacity: 0;
    position: relative;
    left: -150px;
  }

}

.mn-section-about-hd-anim {

  @include breakpoint($bp-xl) {
    filter: blur(36px);
    opacity: 0;
    top: 80px;
    position: relative;
  }

}