.mn-section-about {
  position: relative;

}

.mn-parralax-about {
  height: 550px;
  overflow: hidden;
  width: 100vw;
}

.mn-parralax-about {
  .mn-parralax-inner {
    background-image: url("/dist/images/mn-bq-parra-example.png");
    height: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    padding: 6rem 0;
  }
}


.mn-about-parralax-text {
  opacity: 0;
  transform: translate3d(300px, 0px, 0px);
  position: relative;
  text-transform: uppercase;
  color: $white;
  max-width: 40%;
  text-align: center;
  @include font-size(28);
  font-weight: $font-weight-medium;
  //text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);

  &:before {
    content: open-quote;
    position: absolute;
    top: 0;
    left: -2rem;
  }
  &:after {
    content: close-quote;
    padding-left: 1rem;
    position: absolute;
    right: -3rem;
  }
}

.mn-section-about-grid {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint($bp-l) {
    grid-template-columns: 1fr 1fr;
  }

  grid-gap: 2rem;
}



.mn-section-about-grid {
  border-bottom: 1px solid rgba($white,0.1);
}


.mn-section-about-grid-item-inner {


  padding: 0 0 2rem ;

  @include breakpoint($bp-massive) {
    padding: 6rem;
  }

}
