.mn-section-contact {
  background-color: $white;
  min-height: 100vh;
}


.mn-section-contact-content {
  padding: 2rem;
  text-align: center;

  @include breakpoint($bp-xl) {
    padding: 2rem 6rem;
  }

  h2, h3, h4, p, label {
    color: $black;

  }

  h2 {
    @include font-size(48);
    margin-bottom: 1rem;
  }

}

.mn-contact-detail {
  text-align: center;

  margin: 1rem auto;

  @include breakpoint($bp-l) {
    max-width: 60%;
  }

}


.mn-contact-lbl {
  width: 250px;
  @include font-size(15);
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  letter-spacing: 2px;
}



.mn-contact-phone-nr, .mn-contact-twitter {
  font-weight: $font-weight-light;

  span {
    display: inline-block;
    @include breakpoint($bp-l) {
      margin-bottom: 15px;
    }
  }


  span:last-child, a {
    color: $black;
    font-weight: $font-weight-medium;
    text-decoration: none;
    @include font-size(18);
    text-transform: uppercase;
    text-align: center;

    width: 300px;

    @include breakpoint($bp-xl) {
      @include font-size(22);
      margin-left: 1rem;
      text-align: left;
    }


  }
}

.mn-contact-frm {


  .mn-contact-frm-inner {

    background-color: transparent;
    justify-content: center;

    @include breakpoint($bp-l) {
      padding: 1.25rem;
    }
  }

  padding: 1rem;
  box-sizing: border-box;
}

.mn-contact-form-hd {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;

  @include breakpoint($bp-l) {
    max-width: 60%;
    margin: 0 auto;
  }

  h4 {
    margin: 0;
    @include font-size(22);
  }
}


.mn-ff-field-wrap {

  margin-bottom: 1.5rem;

  @include breakpoint(900) {
    margin-bottom: 0.5rem;
  }

  input,textarea {

    border: 1px solid transparent;
    border-bottom : 1px solid rgba($black, 0.4);
    padding: 0.5rem;
    border-radius: 0;

    transition: border 300ms ease;
    display: block;

    max-width: 100%;
    box-sizing: border-box;

    &:focus {

      border: 1px solid rgba($black, 0.5);
      outline: none;
    }
  }

  textarea {
    resize: vertical;
    border : 1px solid rgba($black, 0.4);
    min-height: 240px;


  }

  label {
    display: block;

    @include breakpoint($bp-l) {
      min-width: 200px;

    }

    margin-bottom: 20px;
  }
}

.mn-ff-btn {
  flex-basis: 100%;
  display: flex;


  button {

    margin-left: auto;
    @include button-reset();
    padding: 0.8rem 3rem;
    background-color: $black;
    color: $white;
    @include font-size(16);
    text-transform: uppercase;
    @include std-transitions();


    &:hover {

      background-color: lighten($black, 3%);
    }

  }

}

.mn-ff-field-wrap.js-validate-error-field {

  border: 3px solid $tertiary-accent!important;
}

.js-validate-error-label {

  margin-top: 1rem;
  color: $tertiary-accent!important;
  font-weight: bold;
  text-align: left;
  font-family: $base-font-family;
}

.mn-contact-req-msg {
  text-align: left;
  padding-left: 1rem;

  @include font-size(12);

  @include breakpoint($bp-l) {
    @include font-size(14);
  }

}

.mn-contact-frm {
  @include breakpoint($bp-xxl) {
    max-width: 80%;
    margin: 0 auto;
  }

  @include breakpoint($bp-massive) {
    max-width: 65%;
  }

}

.mn-contact-frm-inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @include breakpoint(900) {
    grid-template-columns: 1fr 1fr;
  }

  input, textarea {
    width: 100%;
    -webkit-appearance: none;
  }

}

.mn-ff-btn {
  @include breakpoint(900) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.mn-ff-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .mn-ff-field-wrap {
    flex-basis: 100%;
  }

}