.mn-section-contact {
  background-color: $white;
  min-height: 100vh;
}


.mn-section-contact-content {
  padding: 2rem 6rem;
  text-align: center;

  h2, h3, h4, p, label {
    color: $black;

  }

  h2 {
    @include font-size(48);
    margin-bottom: 1rem;
  }

}

.mn-contact-detail {
  text-align: center;
  max-width: 60%;
  margin: 1rem auto;
}


.mn-contact-lbl {
  width: 250px;
  @include font-size(15);
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  letter-spacing: 2px;
}



.mn-contact-phone-nr, .mn-contact-twitter {
  font-weight: $font-weight-light;

  span {
    display: inline-block;
    @include breakpoint($bp-l) {
      margin-bottom: 15px;
    }
  }


  span:last-child, a {
    color: $black;
    font-weight: $font-weight-medium;
    text-decoration: none;
    @include font-size(22);
    text-transform: uppercase;
    text-align: left;
    margin-left: 1rem;
    width: 300px;
  }
}

.mn-contact-frm {


  .mn-contact-frm-inner {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: transparent;

    @include breakpoint($bp-l) {
      padding: 1.25rem;
    }
  }

  padding: 1rem;

  @include breakpoint($bp-l) {
    max-width: 75%;
    padding: 2rem;
    margin: 0 auto;
  }

  box-sizing: border-box;
}

.mn-contact-form-hd {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;

  @include breakpoint($bp-l) {
    max-width: 60%;
    margin: 0 auto;
  }

  h4 {
    margin: 0;
    @include font-size(22);
  }
}

.mn-ff-input-wrapper {


  @media (max-width: 1499px) {
    flex-basis: 100%;
  }

}


.mn-ff-field-wrap {
  flex-basis: 100%;

  @media (min-width: 1500px) {
    flex-basis: 48%;
    margin-right: 2%;
  }
  margin-bottom: 1.5rem;

  @include breakpoint($bp-xl) {
    display: flex;
  }

  input,textarea {

    border: 1px solid transparent;
    border-bottom : 1px solid rgba($black, 0.4);
    padding: 0.5rem;

    transition: border 300ms ease;
    display: block;
    flex-grow: 1;
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;

    @include breakpoint($bp-l) {

      min-width: 450px;

    }


    &:focus {
      //background-color: rgba($black, 0.25);
      border: 1px solid rgba($black, 0.5);
      outline: none;
    }
  }

  textarea {
    resize: vertical;
    border : 1px solid rgba($black, 0.4);
    min-height: 240px;
  }

  label {
    display: block;

    @include breakpoint($bp-l) {
      min-width: 200px;

    }

    margin-bottom: 20px;
  }
}

.mn-ff-msg {
  @media (min-width: 1500px) {
    margin-left: auto;

    .mn-contact-input-wrp {
      margin-left: auto;
    }
  }
  @media (min-width: 1500px) {
    display: flex;

  }
}

.mn-ff-btn {
  flex-basis: 100%;
  display: flex;

  button {

    margin-left: auto;
    @include button-reset();
    padding: 0.8rem 3rem;
    background-color: $black;
    color: $white;
    @include font-size(16);
    text-transform: uppercase;
    @include std-transitions();


    &:hover {

      background-color: lighten($black, 3%);
    }

  }

}

.mn-ff-field-wrap .js-validate-error-field {

  border: 3px solid $white;
}

.js-validate-error-label {

  margin-top: 0.5rem;
  color: $primary-accent;
  font-weight: bold;
}

.mn-contact-req-msg {
  text-align: center;

  @include font-size(12);

  @include breakpoint($bp-l) {
    @include font-size(14);
  }

}