.mn-counter-wrapper {
  position: absolute;
  bottom: 3rem;
  left: 5.5rem;
  z-index: 5;

  display:  none;

  @include breakpoint($bp-xl) {
    display: block;
  }
}


.mn-scroll-indicator-wrap {

  height: 0;
  width: 0;
  overflow: hidden;
  @include std-transitions();
  display: block;


  margin: 0.5rem 0 0 0.5rem;

  svg {
    fill: $primary-accent;
    width: 100%;
    height: auto;
  }
}



.js-section-home-is-active {
  .mn-scroll-indicator-wrap {


    width: 60px;
    height: 60px;

    &:hover {
      transform: scale(1.1);
      opacity: 0.85;
    }

  }
}



.is-nav-active {
  .mn-counter-wrapper {
    opacity: 0;
  }
}


.mn-page-indicators {
  @include std-transitions($speed: 800ms);

  @include breakpoint($bp-xl-max, max-width) {
    display: none;
  }

  position: fixed;
  z-index: 1000;
  bottom : 40%;
  left: 1.5rem;

  @include breakpoint($bp-l) {
    bottom: 30%;
  }

  @include breakpoint($bp-xl) {
    bottom: 40%;
  }

  ul {
    @include list-reset();
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;

    li {
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      align-items: center;
    }

    a {
      color: $white;
      width: 26px;
      height: 26px;
      line-height: 1;
      margin-bottom: 6px;
      display: flex;
      display: -ms-flexbox;
      align-content: center;
      align-items: center;
      justify-content: center;
      @include font-size(11);
      border: 0;
      box-shadow: none;
      background: transparent;
      text-decoration: none;
      @include std-transitions();

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: rgba($white, 0.05);
      }
    }

    .is-current a {

      //background: rgba($standout, 1.0);
      border: 1px solid $standout;
      color: $white;
      margin-bottom: 3px;
      @include font-size(11);
    }

    span:after {
      height: 0;
      @include std-transitions();
      width: 1px;
      content: '';
      display: block;
      flex-basis: 100%;
      background-color: transparent;
    }

    .is-current span:after {
      height: 35px;
      background-color: $standout;
      width: 1px;

    }

  }
}

.js-contact-top-is-active {
  .mn-page-indicators a {
    background-color: $black;
    color: $white;


    &:hover {
      background-color: rgba($black, 0.8);
    }

  }

  .mn-page-indicators .is-current {

    a {

      border: 1px solid transparent;
      background-color: $standout;
      color: $white;
      order: 1;
    }

    span:after {
      content : normal;
    }

    span:before {
      height: 35px;
      background-color: $standout;
      width: 1px;
      content: '';
      display: block;
      flex-basis: 100%;
    }

  }

}

.is-nav-active {
  .mn-counter-wrapper, .mn-page-indicators {
    opacity: 0;
  }
}