.mn-section-home .mn-section-inner {
  width: 100%;
  height: 100%;
  padding: 15% 1rem 0;

}


.mn-section-home-logo {
  max-width: 120px;
  height: auto;
  margin: 0 auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

.mn-section-home-strap {
  text-align: center;
  @include font-size(22);
  font-weight: 400;
  color: $primary-accent;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.mn-section-home-hello {
  text-align: center;
  @include font-size(36);
  color: $secondary-accent;
  text-transform: uppercase;
  letter-spacing: 2rem;
  font-weight: 500;
}

.mn-section-home-copy {
  text-align: center;
  max-width: 85%;
  margin: 0 auto;

  @include breakpoint($bp-xl) {
    max-width: 40%;
  }
}

.mn-section-home-copy-emphasise {
  @include font-size(18);
  font-weight: $font-weight-medium;
  color: $primary-accent;
  text-transform: uppercase;
  padding: 0 8px;
  display: inline-block;
}

.mn-home-scroll-trigger {
  @include button-reset();
  position: absolute;
  left : calc(50% - 40px);
  bottom: 110px;
  width: 60px;
  height: 90px;
  opacity: 0.8;
  @include std-transitions();

  img {
    max-width: 100%;
    height: auto;
  }

  &:hover {
    opacity: 1;
    transform: scale3d(0.9,0.9, 0.9);
  }

  &:focus {
    outline: 0;
  }

}