.mn-section-home .mn-section-inner {
  width: 100%;
  height: 100%;
  padding: 15% 1rem 0;
  position: relative;
  z-index: 2;
  height: 100vh;

}


.mn-section-home-logo {
  max-width: 120px;
  height: auto;
  margin: 0 auto;
  img {
    max-width: 100%;
    height: auto;
  }
}

.mn-section-home-strap {
  text-align: center;
  @include font-size(22);
  font-weight: 400;
  color: $primary-accent;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.mn-section-home-hello {
  text-align: center;
  @include font-size(40);
  margin: 0.5rem 0;
  color: $secondary-accent;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: $font-weight-light;

}

.mn-section-home-copy {
  text-align: center;
  max-width: 85%;
  margin: 0 auto;

  @include breakpoint($bp-xl) {
    max-width: 40%;
  }
}

.mn-section-home-copy-emphasise {
  @include font-size(18);
  font-weight: $font-weight-medium;
  color: $primary-accent;
  text-transform: uppercase;
  padding: 0 8px;
  display: inline-block;
}

.mn-home-scroll-trigger {
  @include button-reset();
  position: absolute;
  left : calc(50% - 40px);
  bottom: 110px;
  width: 60px;
  height: 90px;
  opacity: 0.8;
  @include std-transitions();

  svg {
    max-width: 100%;
    max-height: 150px;
  }

  &:hover {
    opacity: 1;
    transform: scale3d(0.9,0.9, 0.9);
  }

  &:focus {
    outline: 0;
  }

}


@keyframes grain{
  0%,to{-webkit-transform:translate(0);transform:translate(0)}
  10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}
  20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}
  30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}
  40%{-webkit-transform:translate(-5%,25%);transform:translate(-5%,25%)}
  50%{-webkit-transform:translate(-15%,10%);transform:translate(-15%,10%)}
  60%{-webkit-transform:translate(15%);transform:translate(15%)}
  70%{-webkit-transform:translateY(15%);transform:translateY(15%)}
  80%{-webkit-transform:translate(3%,35%);transform:translate(3%,35%)}
  90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}
}

.mn-home-mouse {
  opacity: 0.2;
  animation-name: home-scroll-opacity;
  animation-duration:3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 3s;
  position: relative;


  .mn-home-mouse-line,.cls-3,.cls-4{
    fill:none;stroke:#fff;
    stroke-miterlimit:10;
    @include std-transitions();
  }
  .cls-1{
    stroke-width:0.75px;
  }
  .cls-2{
    fill:#fff;
  }
  .cls-3{
    stroke-width:0.15px;
  }
  .cls-4{
    stroke-width:0.25px;
  }


  .cls-2, .cls-3, .cls-4 {
    animation: fadein 2s forwards;
    animation-delay: 1.5s;
    opacity: 0;
  }

}


.mn-home-mouse-line {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 0.5s ease-out forwards;
  animation-delay: 1s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes home-scroll-opacity {
  0% {
    opacity: 0.2;
    top: 0;
  }
  10% {
    opacity: 0.5;
    top: -7px;
  }
}

.mn-particles-holder {
  position: absolute;
  left: 0;
  top:0;
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  z-index: 1;
}