.mn-section {
  width: 100%;
  position: relative;
}

.mn-section-inner {
  position: relative;
  z-index: 3;
  &.is-padded {
    padding: 2rem;

    @include breakpoint($bp-xl) {
      padding: 0 6rem;
    }

  }
}


