

@mixin font-size($size) {

  font-size: 0px + $size;
  font-size: 0rem + $size / $base-font-size;
}

@mixin breakpoint($bp, $min-max: min-width) {
  $em: $bp/$base-font-size;
  @media(#{$min-max}: #{$em}em) { @content; }
}

@mixin ssLandscape() {
  @media (max-device-width: 799px) and (orientation: landscape) {
    @content;
  }
}

@mixin std-transitions($property:all, $speed: 300ms, $ease: ease 0s) {

  -webkit-transition: $property $speed $ease;
  -moz-transition: $property $speed $ease;
  -o-transition: $property $speed $ease;
  transition: $property $speed $ease;
}

@mixin button-reset () {

  background: transparent;
  border: 0;
  box-shadow: none;
}

@mixin list-reset() {

  list-style: none;
  margin: 0;
  padding: 0;
}


@mixin gradient-text ($topGrad: $secondary-accent, $bottomGrad: darken($secondary-accent,10%)) {
  background: -webkit-linear-gradient($topGrad, $bottomGrad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@mixin title-gradient () {
  background: rgb(123,224,255);
  background: radial-gradient(circle, rgba(123,224,255,1) 0%, rgba(246,175,52,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}