.mn-section-projects-hover-content {
  position: absolute;
  right: -100vw;
  min-height: 60%;
  top: 20%;
  bottom: 20%;
  width: 50vw;
  z-index: 500;
  @include std-transitions();

  &.is-active {
    right: -5vw;
  }

  .is-inner {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("/dist/images/project-images/pegasus-example-b.jpg") no-repeat 50% 50%;
    background-size: contain;

  }

}