.mn-section-projects {
  .mn-section-inner {
    position: relative;
    background-color: $body-base-bg;
    padding-bottom: 5rem;
  }
}

.mn-section-projects {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 3999;
}

.mn-section-projects-summary {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  .mn-section-project-summary-item {
    border-bottom : 1px solid rgba($white,0.1);
    height: 65px;
    line-height: 65px;
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0,0,0);

    .mn-section-projects-item-inner {
      position: relative;
    }

    a {
      max-height: 64px;
      @include font-size(14);
      letter-spacing: 3px;
      text-transform: uppercase;
      color : $grey-accent;
      text-decoration: none;
      font-weight: $font-weight-light;
      @include std-transitions($speed: 400ms, $ease: cubic-bezier(0.215, 0.610, 0.355, 1.000));
      transform: translateX(20px);
      opacity: 0.8;
      display: inline-block;
      padding: 0 1rem;
      background-color: transparent;
      overflow: hidden;
      position: relative;
      min-width: 80%;

      @include breakpoint($bp-l) {
        min-width: 40%;
      }

      @include breakpoint($bp-xl) {

        transform: translateX(80px);
        @include font-size(18);
        min-width: 380px;
      }

    }

    &:hover {

      a {
        opacity: 1.0;


      }
    }

    @include breakpoint($bp-xl) {

      &:hover a {
        background-color: rgba($black, 0.25);
        transform: translateX(90px);
      }
    }

    &.is-animating {
      background-color: rgba($black, 0.3);
    }


    &.is-active-wrapper {

      overflow-y: scroll;
      overflow-x: hidden;
      max-width: 100vw;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
      position: relative;
      z-index: 4999;


      @media(hover: hover) and (pointer: fine) and (min-width: 1280px) {
        &:hover {

          a {
            @include font-size(18);
          }

        }

      }

    }

    &:first-child {
      border-top : 1px solid rgba($white,0.1);
    }

  }

}

.mn-section-projects-summary {
  min-height: $project-items * $project-height;
}

.mn-section-projects-inner {
  &.is-active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    z-index: 5000;
  }
}


.mn-projects-summary-wrap {
  position: relative;
  background: url("/dist/images/mn-project-detail-bg.png") no-repeat 0 0;
  background-size: cover;

}


.mn-projects-summary-detail-wrapper {
  max-height: 0;
  opacity: 0;
  display: none;
  margin: 4rem auto;

}


.mn-projects-summary-detail-inner {
  min-height: 400px;
  background-color: #acacb2;
}

.mn-projects-summary-detail-close {
  @include button-reset();
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;

  right: 70px;
  margin-left: -40px;
  top: 0.25rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: 0;

  @include breakpoint($bp-xl) {
    left: 50%;
    right: unset;
    width: 60px;
    height: 60px;
    top: 1.25rem;
  }


  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }


  svg {
    fill: $tertiary-accent;
    max-width: 100%;
  }

}

.mn-section-projects-inner.is-active {
  .mn-projects-summary-detail-close {
    display: block;
    z-index: 6000;
  }
}

.mn-section-projects-hd {

  margin: 1rem 0 0;
  padding: 2rem;

  @include breakpoint($bp-xl) {
    padding: 2rem 6rem;
  }

  .mn-section-hd-title {
    border-top: 1px solid rgba($white, 0.05);
    padding-top: 1rem;
  }


}





.mn-projects-summary-detail-hd {
  color : $primary-accent;
  @include font-size(23);
  letter-spacing: 5px;
  line-height: 1;
  margin: 0 auto 2rem;
  font-weight: $font-weight-bold;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba($white,0.2);
  max-width: 80%;
  opacity: 0.8;

  @include breakpoint($bp-xl){
    line-height: 0;
    @include font-size(40);
  }

}

.mn-projects-summary-detail-sub-hb {
  text-align: center;
  color : $project-detail-header-color;
  @include font-size(17);
  font-weight: $font-weight-light;
  max-width: 95%;
  margin: 0 auto;
  letter-spacing: 3px;
  text-transform: uppercase;

  @include breakpoint($bp-xl){
    @include font-size(28);
    max-width: 40%;
  }

}


.mn-projects-summary-detail-bd {

  margin-top: 2rem;
  background: url("/dist/images/m9-logo-large.png") bottom right no-repeat;
  background-size: 180px auto;
  display: flex;
  flex-direction: column;
}



.mn-projects-summary-detail-logo {
  text-align: center;

  img {
    max-width: 60px;
    height: auto;
  }

  @include breakpoint($bp-xl) {
    padding: 1rem 0;

    img {
      max-width: 70px;
    }

  }

}

.mn-projects-summary-detail-content {

  max-width: 90%;
  width: 90%;
  margin: 0 auto;

  h3 {
    color: $primary-accent;
    @include font-size(20);
    font-size: $font-weight-medium;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($white,0.2);
  }

  p {
    color: $body-copy-color;
    font-weight: $font-weight-light;
    opacity: 0.6;
    @include font-size(15);
  }

  @include breakpoint($bp-xl) {
    max-width: 70%;
    width: 70%;
  }

}

.mn-projects-summary-tech-content {

  width: 90%;
  max-width: 90%;
  margin: 0 auto;


  @include breakpoint($bp-xl) {
    max-width: 70%;
    width: 70%;
  }


  h3 {
    color: $secondary-accent;
    @include font-size(20);
    font-size: $font-weight-medium;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($white,0.2);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($white,0.2);
    padding-left: 0;
    flex-wrap: wrap;

    li {

      color : $white;
      @include font-size(14);
      text-transform: uppercase;
      font-weight: $font-weight-medium;
      padding: 0.5rem;
      background-color: rgba($black, 0.2);
      margin: 0 1rem 1rem 0;
    }
  }
}

.mn-projects-summary-detail-images {
  max-width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include breakpoint($bp-xl) {
    max-width: 70%;
  }

  .is-inner-whole {
    flex-basis: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .is-inner {
    flex-basis: 100%;


    @include breakpoint($bp-xl) {
      flex-basis: 50%;
      padding: 1rem;
    }

  }

  img {
    max-width: 100%;
    height: auto;
    opacity: 0.5;
    box-shadow: 11px 9px 9px -4px rgba(0,0,0,0.19);
    @include std-transitions();

    &:hover {
        opacity: 1;
    }
  }

}

.mn-project-summary-detail-ft {
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding-top: 4rem;
  margin-bottom: 4.5rem;

  @include breakpoint($bp-xl) {
    margin-bottom: 1.5rem;
  }

}

.mn-section-projects-hd-copy {
  text-transform: uppercase;
  color: $white;
  letter-spacing: 3px;
  font-weight: $font-weight-light;

  @include breakpoint($bp-m-max, max-width) {
    @include font-size(14);
  }



}

.mn-section-projects-title {
  text-transform: uppercase;
}

.mn-section-projects {
  .mn-section-projects-strapline {

    position: static;
    align-self: flex-end;
    margin-right: 2rem;
    padding-bottom: 4rem;
  }
}

.mn-projects-summary-detail-bd {
  .mn-section-detail-strapline {
    position: static;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2.5rem;
  }
}

.mn-section-project-summary-item-ico {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 12px;
  background: url('/dist/images/project-next.png') no-repeat center center;
  background-size: 24px 24px;
  position: absolute;
  right: 5px;
  top: 24px;
  opacity: 0;
  @include std-transitions();

  .is-inactive & {
    opacity: 0.5;
  }

}
