.is-mpp-hero {
  background: url("/dist/images/project-images/mpp-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-zishi-hero {
  background: url("/dist/images/project-images/zishi-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-frotcom-hero {
  background: url("/dist/images/project-images/frotcom-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-collective-hero {
  background: url("/dist/images/project-images/hyundai-example-hero.jpg") no-repeat 50% 50% fixed;
}


.is-ttc-hero {
  background: url("/dist/images/project-images/ttc-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-otk-hero {
  background: url("/dist/images/project-images/otk-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-investec-hero {
  background: url("/dist/images/project-images/investec-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-jisc-hero {
  background: url("/dist/images/project-images/jisc-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-rise-hero {
  background: url("/dist/images/project-images/think-rise-example-hero.jpg") no-repeat 50% 50% fixed;
}

.is-smart-hero {
  background: url("/dist/images/project-images/smart-inv-work-example.jpg") no-repeat 50% 50% fixed;
}

.is-pegasus-hero {
  background: url("/dist/images/project-images/pegasus-example-hero.jpg") no-repeat 50% 50% fixed;
}

.mn-projects-summary-detail-hero {
  min-height: 200px;
  width: 100vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid rgba($white, 0.2);
  border-bottom: 1px solid rgba($white, 0.2);


  @include breakpoint($bp-xl) {
    min-height: 500px;
  }


}

.mn-projects-summary-detail-hero-inner {
  max-width: 95%;
  position: relative;
  text-align: center;

  @include breakpoint($bp-xl) {
    max-width: 70%;
  }

  blockquote {
    padding: 2rem;
    line-height: 1.5;
    font-weight: $font-weight-thin;
    max-width: 90%;
    color: $white;
    @include font-size(11);
    letter-spacing: 2px;
    text-transform: uppercase;

    &:before, &:after {
      background-color: rgba($black,0.1);
      background-position: 50% 50%;
      height: 30px;
      width: 30px;

      @include breakpoint($bp-xl) {
        height: 60px;
        width: 60px;
      }

    }


    @include breakpoint($bp-l) {
      @include font-size(14);
    }


    @include breakpoint($bp-xl) {
      padding: 2rem 6rem;
      @include font-size(22);
    }


  }

  cite {
    text-transform: uppercase;
    color: $primary-accent;
    font-weight: $font-weight-light;
    @include font-size(12);
    letter-spacing: 3px;
    line-height: 1.2;
    padding: 1rem 1.5rem;

    @include breakpoint($bp-l) {
      padding: 0 0 1.5rem 0;
    }

  }

}