.mn-bq-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  &.is-padded {
    padding: 10rem 6rem;
  }
}

.mn-blockquote-item {
  @include font-size(26);
  text-align: center;
  color: rgba($white,0.7);
  max-width: 50%;
  margin: 0 auto;
  position: relative;
  flex-basis: 100%;
  //background-color: rgba($black, 0.05);
  padding: 3rem;


  &:before {
    position: absolute;
    height: 80px;
    width: 80px;
    background-image: url("/dist/images/quote.png");
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    left: -60px;
    top: -60px;
  }


  &:after {
    position: absolute;
    height: 80px;
    width: 80px;
    background-image: url("/dist/images/close-quote.png");
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    right: -60px;
    bottom: -60px
  }

}


.mn-blockquote-author {
  @include font-size(20);
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $secondary-accent;
  text-align: center;
  flex-basis: 100%;
  font-style: normal;

}