
.mn-section-services {

  .mn-section-inner {

    background: url("/dist/images/m9-logo-large.png") bottom right no-repeat;
    background-size: 220px auto;
  }
}


.mn-section-services-wrapper {
  position: relative;
}

.mn-section-services-hd {
  padding: 0.5rem 2rem;

  @include breakpoint($bp-xl) {
    padding: 0.5rem 6rem;
  }

}



.mn-section-services-grid {
  display: grid;

  grid-template-columns: 1fr;

  @include breakpoint($bp-xl) {

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 4rem;
  }

}

.mn-section-services-item {

  padding: 2rem;
  transform-style: preserve-3d;
  background-color: rgba($black, 0.1);
  border-bottom: 1px solid rgba($white, 0.1);

  @include breakpoint($bp-xl) {
    border-bottom: 0;
    transform:scale(0.4);
    opacity: 0;
  }

}

.mn-section-services-svg-wrap {
  max-width: 80px;
  margin: 0 auto;
  @include std-transitions();

  @include breakpoint($bp-xl) {
    max-width: 150px;
  }

}


.mn-services-section-svg {
  fill: $white;
  max-width: 100%;
  height: auto;
  opacity: 0.3;
  @include std-transitions();
}

.mn-section-services-item-hd {
  max-width: 60%;
  margin: 1rem auto 2rem;
  color: $primary-accent;
  text-align: center;
  @include font-size(23);
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba($white, 0.1);
  text-transform: uppercase;
  @include std-transitions();

  @include breakpoint($bp-xl) {
    @include font-size(24);
  }


}

.mn-section-services-item-list {
  list-style: none;
  padding: 1rem 1.5rem;
  background-color: rgba($black, 0.08);
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  position: relative;


  @include breakpoint($bp-xl) {
    height: 400px;
    padding: 3rem 2rem;
    opacity: 0;
    top: 50px;
  }

  li {
    text-align: center;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    color: $grey-accent;
    flex-basis: 100%;
    font-weight: $font-weight-light;
    @include font-size(14);

    @include breakpoint($bp-l) {
      @include font-size(15);

    }

  }
}

.mn-section-services-hd-lg {

  @include breakpoint($bp-xl) {
    opacity: 0;
    position: relative;
    left: -150px;
  }


}

.mn-section-services-hd-anim {

  @include breakpoint($bp-xl) {

    filter: blur(36px);
    -webkit-filter: blur(36px);
    opacity: 0;
    top: 80px;
    position: relative;
  }
}

.mn-section-services-hd-sub {

  @include breakpoint($bp-xl) {
    top: -80px;

  }
}

.mn-section-services-item-hd {


  @include breakpoint($bp-xl) {
    opacity: 0;
    transform: scale3d(1.5,1.5,1.5);
    filter: blur(12px);
  }
}


.mn-section-services-item:hover {
  background-color: rgba($black, 0.2);

  .mn-section-services-svg-wrap {
    max-width: 110px;
  }

  .mn-services-section-svg {
    opacity: 0.25;
  }

  .mn-section-services-item-hd {
    @include font-size(28);
  }

}

.mn-services-ft {
  display: flex;
  width: 100vw;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba($white, 0.2);

  @include breakpoint($bp-l) {
    padding: 2rem 6rem;
  }


  h4 {
    color : $grey-accent;
    margin: 0 0 1rem;
    flex-basis: 100%;
    @include font-size(18);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;

    @include breakpoint($bp-xl) {
      @include font-size(22);
    }

    a {
      color: $tertiary-accent;
      text-decoration: none;

      @include std-transitions();
      @include font-size(21);

      @include breakpoint($bp-xl) {
        @include font-size(26);
      }

      &:hover {
        color: $secondary-accent;
      }

    }
  }
}