.mn-services-inner {
  padding: 10rem 6rem;
  width: 100%;
  display: flex;
  perspective: 190px;
  perspective-origin: 65% 0%;
  position: relative;
  transform-style: preserve-3d;

}

.mn-section-services-wrapper {
  position: relative;
  z-index: 2;
}

.mn-services-item {
  min-height: 500px;
  background-color: rgba($black, 0.3);
  width: 370px;
  transform-style: preserve-3d;
  position: absolute;
  backface-visibility: hidden;
  left: calc(35% - 370px);
  @include std-transitions($speed: 400ms);
  //display: flex;

  header {

    background-color: rgba($white, 0.4);
    color: $primary-accent;
    h1 {

      @include font-size(30);
      font-weight: $font-weight-medium;
      text-transform: uppercase;
      text-align: right;
      padding-right: 1.5rem;
    }
  }

  .mn-services-item-bd {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }

}
