

// colors

$white : #ffffff;
$black : #000000;

$body-base-bg : #343435;
//$body-base-bg : #343539;

$primary-accent: #f6af34;
$secondary-accent : #96ccfa;
$tertiary-accent : #f2ebd5;

$grey-accent: #acacb2;
$logo-txt-color: #464648;

$body-copy-color : #ddddde;

$nav-bg-color: #2e2e2f;
$nav-links-base-color : #fff;

$about-content-bg-color : #303031;

// base fonts

$base-font-size: 16;
$base-line-height: 1.5;
$base-font-family :  'Roboto', sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium : 500;
$font-weight-bold : 900;


// breakpoints

$bp-massive: 1750;
$bp-xxl: 1440;
$bp-xl: 1280;
$bp-xl-max: 1279;
$bp-l: 960;
$bp-l-max: 959;
$bp-l-max: 767;
$bp-l: 768;
$bp-s-max: 639;
$bp-s: 640;
$bp-xs: 480;


// spacers

$spacer-std : 1rem;

// projects variables

$project-items : 10;
$project-height: 65px;


// project details

$project-detail-header-color: #616161;