

// colors

$white : #ffffff;
$black : #000000;

$body-base-bg : #272727;


$primary-accent: #7ff7f0;
$secondary-accent : #f9ccc1;
$tertiary-accent : #f8ac84;
$standout : #f8aa82;

$grey-accent: #acacb2;
$logo-txt-color: #464648;

$body-copy-color : #fff;

$nav-bg-color: $body-base-bg;
$nav-links-base-color : #fff;

$about-content-bg-color : #303031;

$home-grad-primary-color: #343435;
$home-grad-bg-secondary-color: #2e2e2f;

$grey-heading-accent : #f2f2f2;

// base fonts

$base-font-size: 16;
$base-line-height: 1.5;
$base-font-family :  'Roboto', sans-serif;
$secondary-font-family : 'Oswald', sans-serif;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium : 500;
$font-weight-bold : 900;


// breakpoints

$bp-massive: 1750;
$bp-xxl: 1440;
$bp-xl-max: 1279;
$bp-xl: 1280;
$bp-l-max: 959;
$bp-l: 960;
$bp-m-max: 767;
$bp-m: 768;
$bp-s-max: 639;
$bp-s: 640;
$bp-xs: 480;


// spacers

$spacer-std : 1rem;

// projects variables

$project-items : 11;
$project-height: 65px;


// project details

$project-detail-header-color: #616161;