

// colors

$white : #ffffff;
$black : #000000;

$body-base-bg : #343435;

$primary-accent: #feabab;
$secondary-accent: #9ec8ce;
$tertiary-accent : #ee1747;

$body-copy-color : #ddddde;

$nav-bg-color: #2e2e2f;
$nav-links-base-color : #606061;

// base fonts

$base-font-size: 16;
$base-line-height: 1.5;
$base-font-family :  'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium : 500;
$font-weight-bold : 900;


// breakpoints

$bp-lassive: 1750;
$bp-xxl: 1440;
$bp-xl: 1280;
$bp-xl-max: 1279;
$bp-l: 960;
$bp-l-max: 959;
$bp-l-max: 767;
$bp-l: 768;
$bp-s-max: 639;
$bp-s: 640;
$bp-xs: 480;


// spacers

$spacer-std : 1rem;