.mn-section-hd {

  padding-top: 0.5rem;

  @include breakpoint($bp-l) {
    padding-top: 3rem;
  }

  .mn-section-hd-title {
    @include font-size(24);
    color: $primary-accent;
    border-bottom: 1px solid rgba($white, 0.05);
    padding-bottom: 1.5rem;
    margin: 0.5rem 0;
    text-transform: uppercase;

    @include breakpoint($bp-l) {
      @include font-size(30);
    }

  }
}

